@import '~bulma/sass/utilities/initial-variables';

$primary: #ffa000;
$link: #ffa000;
$code: #111;
$text: #555;

$code-size: 1.1rem;

$navbar-breakpoint: $tablet;

@import '~bulma';

/* purgecss start ignore */
body {
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p, ul, ol {
  font-size: 1.3rem;
  color: $text;
}

hr {
  color: #ccc;
  height: 1px;
}

code[class*="language-"] {
  padding: 0;
}

.content {
  table {
    width: auto;
  }

  div + p {
    margin-top: 1em;
  }

  h3 {
    font-size: 1.4em;
  }

  ul, ol {
    p {
      margin-bottom: 0 !important;
    }
  }

  blockquote {
    padding: 1rem 2.5rem;
    border-left: none;
    background: url('../img/quotes.svg') top left no-repeat;

    p {
      font-size: 1.5rem;
    }
  }

  // fix for Bulma's conflict with Prism
  .number, .tag {
    align-items: inherit;
    background-color: inherit;
    border-radius: inherit;
    color: inherit;
    display: inherit;
    font-size: inherit;
    height: inherit;
    justify-content: inherit;
    line-height: inherit;
    margin-right: inherit;
    min-width: inherit;
    padding: inherit;
    text-align: inherit;
    vertical-align: inherit;
    white-space: inherit;
  }
}
/* purgecss end ignore */

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
  }

  * {
    color: #aaa;
  }

  hr {
    background-color: #333;
  }

  header .contact-bar {
    li a {
      filter: invert(80%);
    }
  }

  .content {
    h1, h2, h3, h4, p, ul, ol, blockquote {
      color: #ccc;
    }

    a:hover {
      color: #eee;
    }

    blockquote {
      background-image: url('../img/quotes-dark.svg');
    }
  }
}
